*img{
    width: 200px;
    height: 200px;
}
.color-title{
    font-size: Normal;
}
#red{

    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
