<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Editing</title>
</head>

<body>
    {% for book in books %}
    {% if book['id'] == book_id %}
    <p>Book Name {{book['title']}}</p>
    <br>
    <p>Book Name {{book['rating']}}</p>
    <form action="{{url_for('Edit',book_id=book['id'])}}">
        <input type="text" placeholder="New rating" name="new_rating">
        <a href="index.html"><button type="submit" style="margin: 5px; display: flex; flex-direction: column">Change
                rating</button></a>
    </form>
    {% endif %}
    {% endfor %}

</body>

</html>