<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It Works</title>
</head>
<body>
    <form action="">
        <label for="input-name">Name</label>
        <input type="text" placeholder="Name" aria-label="Name">
        <label for="input-password">Password</label>
        <input type="password" placeholder="Password" aria-label="Password">
        <button>Ok</button>
    </form>
</body>
</html>